<%= form_for @product do |f| %>

<div style="margin: 8px 0">
  <%= f.label :商品名, style: { 'margin-right' => 8 } %>
  <%= f.text_field :name, placeholder: 'ここに記入', value: @product.name %>
</div>

<div style="margin: 8px 0">
  <%= f.label :商品概要, style: { 'margin-right' => 8 } %>
  <%= f.text_area :recommendation, placeholder: 'ここに記入', style: 'width: 100%;height: 300px;', value: @product.recommendation %>
</div>

<div style="margin: 8px 0">
  <%= f.label :価格, style: { 'margin-right' => 8 } %>
  <%= f.number_field :price, placeholder: 'ここに記入' %>
</div>

<div class="field">
  <%= f.label :商品画像, style: { 'margin-right' => 8 } %>
  <%= f.file_field :avatar %>
</div>

<div class="row">
  <div class="col10 push1">
    <%= button_tag type: "submit", class: "btn btn--block" do %>
    編集を終了する<i class="icon-arrow-right"></i>
    <% end %>
  </div>
</div>

<% end %>
